src/main/resources/META-INF/schemas/karaku/menu/menuMessages.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://sigh.med.una.py/2013/schemas/base"
	targetNamespace="http://sigh.med.una.py/2013/schemas/base"
	elementFormDefault="unqualified">

	<xs:include schemaLocation="menu.xsd" />

	<xs:element name="menuRequest">
		<xs:complexType>
		</xs:complexType>
	</xs:element>

	<xs:element name="menuResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="menu" type="Menu" />
				<xs:elemetn name="skipRoot" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>